  /*  div{
      border: 0.5px solid gray;
   }  */
   body{
   	margin-botton: 33px;
   }
   
   div#div_topMenu{
   	z-index: 12;
   }
   
   div.log_dialog{
   	z-index: 13;
   }
   
   div.log_form{
   	z-index: 13;
   }
   
   div#div_footer{
   	z-index:12;
   }
   
   /* slider 부분 */
	div,a {
		padding:0;
		margin:0;
	}
	
	div#div_more{
		position: fixed;
		left: 90%;
		width: 5%;
		height: 25px;
		bottom: 55px;
		background-color: #313131;
		color: #fff;
		/* z-index: 9; */
		text-align: center;
		text-decoration: none;
		display: hidden;
	}
	
	div#div_more #btn_more{
		text-decoration: none;
		color: #fff;
	}
	
	div#area,div#thema,div#non_favorite{
		margin-bottom: 33px;
	}
	
	span.category{
		background-color: #fff;
		top: 20;
		left: 0;
		width: 30px;
		height: 30px;
		font-weight: bold;
		font-size: 20px;
	}
	
	a.slide_left img, a.slide_right img{
		background-color: #fff;
		width: 100%;
		height: 100%;
	}
	
	#area div.slider {
		width:100%;
		height:250px;
		margin:0 auto;
	}
	
	#area div.slider a {
		position:absolute;
		top:225px;
	}
	
	#area div.slider a.slide_left {
		left:20px;
		width:50px;
	}
	
	#area div.slider a.slide_right {
		right:20px;
		width:50px;
	}   
	
	#area div.slider div#slider_body {
		overflow:hidden;
		width:1200px;
		height:260px;
		padding:0 auto;
		margin:0 auto;
	}
	
	#thema div.slider {
		width:100%;
		height:250px;
		margin:0 auto;
	}
	
	#thema div.slider a {
		position:absolute;
		top:500px;
	}
	
	#thema div.slider a.slide_left {
		left:20px;
		width:50px;
	}
	
	#thema div.slider a.slide_right {
		right:20px;
		width:50px;
	}   
	
	#thema div.slider div#slider_body {
		overflow:hidden;
		width:1200px;
		height:250px;
		padding:0 auto;
		margin:0 auto;
	}
	
    #non_favorite div.slider {
		width:100%;
		height:250px;
		margin:0 auto;
	}
	
	#non_favorite div.slider a {
		position:absolute;
		top:800px;
	}
	
	#non_favorite div.slider a.slide_left {
		left:20px;
		width:50px;
	}
	
	#non_favorite div.slider a.slide_right {
		right:20px;
		width:50px;
	}   
	
	#non_favorite div.slider div#slider_body {
		overflow:hidden;
		width:1200px;
		height:250px;
		padding:0 auto;
		margin:0 auto;
	}
	
	div#slide_div{
		width:10000px;
	}
	
   /* 메뉴와 바디 부분 */			
   div#re_smenu{
   	position: relative;
   	top: 0px;
   	width: 100%;
   	height: 50px;
   	z-index: 2;
   }
   
   div#re_body{
   	width: 100%;
   	z-index: 1;
   }
   
   /* re_menu */
    div#content{
    	background-color: #313131;
    	/* opacity: 0.8; */
    	color: #fff;
    	z-index: 10;
    }
    
    div#View{
    	background-color: #313131;
    	/* opacity:0.8; */
    	width: 100%;
    	height:20px;
    	color: #fff;
    }
    
    span._filter_tag{
    	text-decoration: none;
    }
    
    span._filter_tag a{
    	color: #fff;
    	text-decoration: none;
    }
    
    div.aTag_Controller_box{
		margin-left: 80%;				
	}
	span.span_aTag_Controller{
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
	}
	
	div>span>a.filter_aTag{
		text-decoration: none;
	}
	
	#list_classification.filter_item_list_classification{
		position: absolute;
		background-color: #313131;
		opacity:0.99;
		list-style: none;
		width: 150px;
		left: 1040px;
		top: 37px;
		padding-top:10px;
		padding-bottom:10px;
		z-index:11;
	}
	
	#list_theme.filter_item_list_theme{
		position: absolute;
		opacity:0.99;
		list-style: none;
		background-color: #313131;
		width: 150px;		
		left: 1085px;
		top: 37px;
		padding-top:10px;
		padding-bottom:10px;
		z-index:11;
	}
	
	div>ul>li.filter_item{			
		width: 100%;
		cursor: pointer;
		display: block;
	}
	
	/* re_body */
	div.select_box_div{
		position: relative;
		float: left;
		/* left:30px; */
		margin-left:5px;
		margin-top:20px;
		margin-right:5px;		
		width: 250px;
		height: 200px;
		z-index: 1;
	}
	
	div>ul.select_box_ul{
		list-style: none;
	}
	
	div>ul>li.select_box{
		position: relative;	
		left: 0;
		top: 0;
		width: 250px;
		height: 200px;								
	}	
	
	div.select_tourbox{	
		position: absolute;		
		left: 0;
		top: 0;
		margin: 0px;
		z-index: 1;
		background-repeat: no-repeat;
		width: 250px;
		height: 200px;
	}
	div>img.select_img{
		position: relative;
		padding: 0;
		z-index: 2;
		width: 250px;
		height: 100%;
	}	
	
	div.div_hover_box{
		position: absolute;
		left: 0;
		top: 0;	
		z-index: 3;
		width: 250px;
		height: 200px;	
	}
	
	div.select_blockA{
		position: relative;
		padding: 0;
		z-index: 4;
		background: #eee;
		opacity:0.4;
		width: 250px;
		height: 100px;
		cursor: pointer;	
	}
	div.select_blockB{
		position: relative;
		padding: 0;
		background-color: #fff;
		opacity:0.9;
		z-index: 5;
		width: 250px;
		height: 100px;				
	}
	
	/* recommend detail 아래 부분 */
	#recommend_detail{
		margin-bottom: 50px;
	}
	
	#recommend_detail div.select_box_div{
		position: relative;
		float: left;
		left:125px;
		margin-left:5px;
		margin-top:20px;
		margin-right:5px;	
		margin-bottom: 20px;
		width: 250px;
		height: 200px;
	}
	
	#recommend_detail div>ul.select_box_ul{
		list-style: none;
	}
	
	#recommend_detail div>ul>li.select_box{
		position: relative;	
		left: 0;
		top: 0;
		width: 250px;
		height: 200px;								
	}	
	
	#recommend_detail div.select_tourbox{	
		position: absolute;		
		left: 0;
		top: 0;
		margin: 0px;
		z-index: 1;
		background-repeat: no-repeat;
		width: 250px;
		height: 200px;
	}
	#recommend_detail div>img.select_img{
		position: relative;
		padding: 0;
		z-index: 2;
		width: 250px;
		height: 100%;
	}	
	
	#recommend_detail div.div_hover_box{
		position: absolute;
		left: 0;
		top: 0;	
		z-index: 3;
		width: 250px;
		height: 200px;	
	}
	
	#recommend_detail div.select_blockA{
		position: relative;
		padding: 0;
		z-index: 4;
		background: #eee;
		opacity:0.4;
		width: 250px;
		height: 100px;
		cursor: pointer;	
	}
	#recommend_detail div.select_blockB{
		position: relative;
		padding: 0;
		background-color: #fff;
		opacity:0.9;
		z-index: 5;
		width: 250px;
		height: 100px;				
	}

	/* 다시 전체 */
   img.check_img{
      width: 50px;
      height: 50px;
   }
   li.rateit_box{
      padding-left: 50px;
   }
   div._ccimg, div._jcimg, span.first_trip_click{
      width: 80px;
      height: 20px;
      cursor: pointer;
      z-index: 6;
   }
   
   div._ccimg, div._jcimg{
      margin-top: 10px;
      float: left;
   }
   
   div._jcimg{
      margin-left: 5px;
   }
   
   img.ccimg, img.jcimg{
      width: 20px;
      height: 20px;
   }
   
   span.first_trip_click{
      margin-left: 80%;
      width: 10%;
      height: 5%;
   }
   
   img.btn_first_trip{
      width: 20px;
      height: 20px;
   }
   span._jcimg{
      margin-left: 40px;
   }
   
   /* div.select_tourbox > img.tour_image{
      width: 250px;
      height: 100%;
   } */
   
   /* span.tour_name{
      width: 300px;
      height: 20px;
      text-align: center;
   } */
   
   
   span.filter_tag_exit{
      cursor: pointer;
   }
	
	.brightness {-webkit-filter: brightness(250%);filter: brightness(250%);}
   
   /* dialog */
   #detail_tour{
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border: 0;
	}
	
	#favorite_survey{
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border: 0;
		visibility: hidden;
	}
   
