	.ui-dialog {
		top: 0;
		left: 0;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		outline: 0;
	}
   
   .ui-dialog .ui-dialog-titlebar {
		display:none;
		top: 0;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		/*position: relative;
		background-color: red; */
	}
	
	#dialog_top_img, #dialog_top_img>img{
		position: absolute;
		width: 100%;
		height: 350px;
		left: 0;
		top: 0;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	
	#dialog_content{
		position: absolute;
		width: 750px;
		height: 200px;
		top: 350px;
		border: 0;
	}
	
	#dialog_preperence{
		position: absolute;
		width: 390px;
		hegith: 60px;
		top: 10px;
		font-size: 12pt;
	}
	
	#inner_content{
		position: absolute;
		width: 390px;
		height: 140px;
		top: 50px;
	}
	
	#score_chart{
		position: absolute;
		width: 400px;
		height: 200px;
		left: 390px;
	}
	
	#dialog_review_write{
		position: absolute;
		width: 750px;
		top: 550px;
		height: 100px;
	}
	
	#dialog_review_read{
		position: absolute;
		width: 750px;
		top: 670px;
	}
	
	#dialog_review_write #rateit_write{
		width: 80px;
	}
	
	#dialog_review_write #m_id{
		width: 80px;
	}
	
	#dialog_review_write #pre_review{
		width: 620px;
	}
	
	#dialog_review_read .review{
		width: 750px;
		left: 0px;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	
	#div_review_btn{
		position: absolute;
		bottom: 0px;
		height: 30px;
		left: 20px;
	}
	
	#dialog_preperence #dialog_favorite{
		margin: 0 auto;
		padding: 0 auto;
	}
	
	#dialog_preperence #dialog_bookmark{
		float:left;
		margin: 0 auto;
		padding: 0 auto;
	}
	
